*,
::after,
::before {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
      font-family: Arial, sans-serif;
      margin: 1em;
      padding: 0;
      background-color: #aca5a5;
      color: #0a0a0a;
      width: 100%;
      
    }
header {
    background: blue;
    color: white;
    padding: 2rem;
    text-align: center;
    margin: 0 0 1.5rem 0;
    }
  header h1 {
      margin: 0;
      font-size: 2.5rem;
    }
  header p {
      margin: 0.5rem 0 0;
      font-size: 1.2rem;
    }
  .sidebar h2{
      font-size: 1.5rem;
      font-weight: bold;
      text-align: left;
      padding: 0.5rem 0;  

    }
    .sidebar p{
      font-size: 1rem;
      line-height: 1.5;
      text-align: left;
    }
    .sidebar ul{
      list-style-type: none;
      padding: 0;
      line-height: 1.8;
    }
  h3{
      margin: 0.5rem 0;
      font-size: 1rem;
      font-weight: bold;
      text-align: center;
    }
  .projects-container{
   background-color: #8d7151e3;
  border-radius: 10px;
  display:flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap:wrap;
    width:75%;
    padding:10px;
    margin: 0 auto;
    float: right;

    }
    .sidebar{
      width: 23%;
      margin-left:2px;
      padding: 1em;
      background-color: #8d7151e3;
      border-radius: 10px;
      height: 100vh;
      float: left;
    }
    .card {
      border-radius: 15px;
      width: 300px;
      height: 300px;
      background-color: #f4f4f4;
      color:#0a0a0a;
      margin: 15px;
      padding: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border: 2px solid #ccc;
    }
    .card p{
      margin: 10px 0;
      color: #0a0a0a;
      font-size: 0.9rem;
      font-weight: 500;
      text-align: center;
    }
    img{
     width: 100%;
     height: 150px;
     object-fit: cover;
     display:block;
     margin: 0 auto;
    }
    .divider{
      height: 5px;
      background-color: #0d6efd;
      width:100%;
      margin-top: none;

    }
    body.dark-mode {
      background: #121212;
      color: #e0e0e0;
    }